<app-stepper>
  <app-step label="اطلاعات فردی" [stepControl]="personalInfoForm">
    <form [formGroup]="personalInfoForm">
      <input formControlName="firstName" />
      <input formControlName="lastName" />
      <input formControlName="nationalCode" />
    </form>
    <button appStepperNext>بعدی</button>
    <button appStepperPrevious>قبلی</button>
  </app-step>
  <app-step label="آپلود مدارک">
    <p>step 2</p>
    <button appStepperNext>بعدی</button>
    <button appStepperPrevious>قبلی</button>
  </app-step>
  <app-step label="اطلاعات تماس" [stepControl]="contactInfoForm">
    <form [formGroup]="contactInfoForm">
      <input formControlName="province" />
      <input formControlName="city" />
      <textarea formControlName="address" rows="3"></textarea>
    </form>
    <button appStepperNext>بعدی</button>
    <button appStepperPrevious>قبلی</button>
  </app-step>
  <app-step label="نمایش کلی اطلاعات">
    <button appStepperPrevious>قبلی</button>
  </app-step>
</app-stepper>
