<div class="wrapper">
  <div class="col">
    <h3>اطلاعات فردی</h3>
    <div class="row w-full">
      <div>
        <h4>نام:</h4>
        <span>{{ personalInfo.firstName }}</span>
      </div>
      <div>
        <h4>نام خانوادگی:</h4>
        <span>{{ personalInfo.lastName }}</span>
      </div>
      <div>
        <h4>کد ملی:</h4>
        <span>{{ personalInfo.nationalCode }}</span>
      </div>
    </div>
    <h3>اطلاعات تماس</h3>
    <div class="row w-full">
      <div>
        <h4>استان:</h4>
        <span>{{ contactInfo.province }}</span>
      </div>
      <div>
        <h4>شهر:</h4>
        <span>{{ contactInfo.city }}</span>
      </div>
      <div>
        <h4>نشانی:</h4>
        <span>{{ contactInfo.address }}</span>
      </div>
    </div>
  </div>
  <div class="col">
    <h3>مدارک بارگذاری شده</h3>
    @if(documentImageSrc) {
    <img [src]="documentImageSrc" alt="image preview" />
    }
  </div>
</div>
