<app-stepper (indexChanged)="onStepperIndexChange()">
  <app-step label="اطلاعات فردی" [stepControl]="personalInfoForm">
    <div class="step-content">
      <form [formGroup]="personalInfoForm">
        <app-field-wrapper [fieldControl]="personalInfoForm.get('firstName')">
          <label class="field-label" for="firstName"> نام </label>
          <input
            class="text-field focus:shadow-outline"
            id="firstName"
            formControlName="firstName"
            placeholder="نام"
          />
        </app-field-wrapper>

        <app-field-wrapper [fieldControl]="personalInfoForm.get('lastName')">
          <label class="field-label" for="lastName"> نام خانوادگی </label>
          <input
            class="text-field focus:shadow-outline"
            id="lastName"
            formControlName="lastName"
            placeholder="نام خانوادگی"
          />
        </app-field-wrapper>

        <app-field-wrapper
          [tempRef]="nationalCode"
          [fieldControl]="personalInfoForm.get('nationalCode')"
        >
          <label class="field-label" for="nationalCode"> کد ملی </label>
          <input
            #nationalCode
            class="text-field focus:shadow-outline"
            id="nationalCode"
            formControlName="nationalCode"
            placeholder="کد ملی"
          />
        </app-field-wrapper>
      </form>
    </div>
    <div class="action-buttons">
      <button appStepperNext class="btn-primary">بعدی</button>
      <button appStepperPrevious class="btn-primary">قبلی</button>
    </div>
  </app-step>
  <app-step label="آپلود مدارک" [stepControl]="documentImageFormControl">
    <div class="step-content">
      <div class="uploader-step">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="file_input"
        >
          بارگذاری مدارک
        </label>
        <input
          class="file-input"
          id="file_input"
          [formControl]="documentImageFormControl"
          type="file"
          (change)="onSelect($event)"
        />
        <p
          class="mt-1 text-sm text-gray-500 dark:text-gray-300"
          id="file_input_help"
        >
          SVG, PNG, JPG یا GIF.
        </p>
        @if(imagePreviewSrc) {
        <img [src]="imagePreviewSrc" alt="image preview" />
        }
      </div>
    </div>
    <div class="action-buttons">
      <button appStepperNext class="btn-primary">بعدی</button>
      <button appStepperPrevious class="btn-primary">قبلی</button>
    </div>
  </app-step>
  <app-step label="اطلاعات تماس" [stepControl]="contactInfoForm">
    <div class="step-content">
      <form [formGroup]="contactInfoForm">
        <app-field-wrapper [fieldControl]="personalInfoForm.get('province')">
          <label class="field-label" for="province"> استان </label>
          <input
            class="text-field focus:shadow-outline"
            id="province"
            formControlName="province"
            placeholder="استان"
          />
        </app-field-wrapper>

        <app-field-wrapper [fieldControl]="personalInfoForm.get('city')">
          <label class="field-label" for="city"> شهر </label>
          <input
            class="text-field focus:shadow-outline"
            id="city"
            formControlName="city"
            placeholder="شهر"
          />
        </app-field-wrapper>

        <app-field-wrapper [fieldControl]="personalInfoForm.get('address')">
          <label class="field-label" for="address"> نشانی </label>
          <textarea
            formControlName="address"
            id="address"
            placeholder="نشانی"
            rows="3"
            class="text-field focus:shadow-outline"
          ></textarea>
        </app-field-wrapper>
      </form>
    </div>
    <div class="action-buttons">
      <button appStepperNext class="btn-primary">بعدی</button>
      <button appStepperPrevious class="btn-primary">قبلی</button>
    </div>
  </app-step>
  <app-step label="نمایش کلی اطلاعات">
    <div class="step-content last-step-content">
      <app-user-info-summary
        class="w-full"
        [personalInfo]="personalInfoForm.value"
        [documentImageSrc]="imagePreviewSrc"
        [contactInfo]="contactInfoForm.value"
      />
    </div>
    <div class="action-buttons">
      <button
        class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-7 rounded"
        type="submit"
        (click)="onSubmit()"
      >
        ارسال
      </button>
      <button appStepperPrevious class="btn-primary">قبلی</button>
    </div>
  </app-step>
</app-stepper>
